{{ define "title" }}{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}{{ end }}
{{ define "main" }}
    {{ if .IsHome }}
    {{/* Homepage: Show full posts with dates and dividers */}}
    {{ $posts := .Site.RegularPages.ByDate.Reverse }}
    {{ range $index, $post := $posts }}
    <article>
        <time datetime="{{ $post.Date }}">{{ $post.Date.Format "2006-01-02" }}</time>
        <h2><a href="{{ $post.RelPermalink }}">{{ $post.Title }}</a></h2>
        {{ $post.Content }}
    </article>
    {{ if lt $index (sub (len $posts) 1) }}
    <hr class="post-divider">
    {{ end }}
    {{ end }}
    {{ else }}
    {{/* Archive page: Simple bulleted list */}}
    <ul class="archive-list">
    {{ range .Pages.ByDate.Reverse }}
    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
    {{ end }}
    </ul>
    {{ end }}
{{ end }}
